#title{
  background: #4C5C68;
  font-family: Herculanum;
  font-size: 79px;
  color: #FFFFFF;
  padding: 0.5em;
  text-align: center;
}

#page{
  padding-top: 3em;
  padding-left: 5em;
  padding-right: 5em;
}

body{
  background: #C5C3C6;
}

.playlist{
  background: #C5C3C6;
  border: 1em;
  border-radius: 15px;
  padding: .5em;
}

.playlist-name{
  font-size: 2em;
  text-align: center;
}

.offline img{
  -webkit-filter: blur(10px);
}
