/* Header */
#title {
  background: #4C5C68;
  font-family: Herculanum;
  font-size: 79px;
  color: #FFFFFF;
  padding: 0.5em;
  text-align: center;
}


/* Body */
body {
  background: #C5C3C6;
}

#page {
  padding-top: 3em;
  padding-bottom: 3em;
  padding-left: 5em;
  padding-right: 5em;
}

/* Limit the height of rows */
.row.limit [class*="col-"]{
  max-height:20em;
  overflow:hidden;
}

/* Card specificities */
.playlist.card {
  background: #C5C3C6;
  border-radius: 15px;
  padding: .5em;
  margin-top: 1em;
}

.card.playlist:hover > *:not(.card-img-overlay) {
  filter: blur(5px);
  -webkit-filter: blur(5px); /* Chrome, Safari, Opera */
}

.playlist.card > .card-img-overlay {
  opacity: 0;
}
.playlist.card > .card-img-overlay:hover {
  opacity: 1;
}

.playlist.card > .card-img-overlay > div > a {
  color: #AAAAAA;
}
.playlist.card > .card-img-overlay > div > a:hover {
  color: #111111;
}

#downloadable_playlist {
  display: none;
}
