<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title>Playlist Downloader</title>
  {% load static %}

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="{% static 'css/stylesheet.css' %}"/>

  <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
</head>

<body>
  <div id="title">
    <h1>Download your own YouTube playlists !</h1>
  </div>

  {% if is_authenticated %}
  <div id="playlist_page" class="container-fluid page">
    <div class="row limit-6">
      {% for playlist in playlists %}

      <div class="col-md-2 d-flex align-items-stretch">
        <div class="card border border-dark playlist">
          <img class="card-img-top rounded" src="{{ playlist.snippet.thumbnails.high.url }}">
          <div class="card-body">
            <p class="card-text">{{ playlist.snippet.title }}</p>
          </div>
          <div class="card-img-overlay d-flex justify-content-center align-items-center">
            <div id="downloadable_playlist">
              <a href="#" class="a-fa" playlist_id="{{ playlist.id }}">
                <i class="fa fa-download fa-3x"></i>
              </a>
            </div>
            <div id="downloading_playlist">
              <a href="#" class="a-fa" playlist_id="{{ playlist.id }}">
                <i class="fa fa-eye fa-5x"></i>
              </a>
            </div>
          </div>
        </div>
      </div>

      {% if forloop.counter|divisibleby:"6" and not forloop.last %}
    </div><div class="row limit-6">
      {% endif %}

      {% endfor %}
    </div>
  </div>
    {% for playlist in playlists %}
  <div id="playlist_item_page" class="container-fluid page" playlist_id="{{ playlist.id }}">
    <div class="row col-12">
      <a href="#" id="main_page" class="a-fa"><i class="fa fa-arrow-circle-left fa-3x"></i></a>
    </div>
  </div>
    {% endfor %}
  {% else %}
  <a href="{% url 'google_api:index' %}">Login to YouTube</a>
  {% endif %}



  <script src="{% static 'js/slide_playlist_page.js' %}"></script>
  <script src="{% static 'js/slide_playlist_item_page.js' %}"></script>
  <script>
    $("#downloadable_playlist > a").click(function () {
      $(this).parent().css({"display": "none"});
      $.ajax({
        url: "{% url 'index:my_playlist_items' %}",
        type: "GET",
        data: {"playlist_id": $(this).attr("playlist_id")},
        success: create_playlist_item_page
      });
    });


    function create_playlist_item_page(data) {
      if(data.playlist_id && data.playlist_items) {
        var selector = "#downloading_playlist >a[playlist_id=" + data.playlist_id + "]";
        fill_playlist_item_page(data.playlist_id, data.playlist_items);
        $(selector).parent().css({"display": "block"});
      } else if(data.error) {
        alert(data.error);
      }
    };

    function fill_playlist_item_page(playlist_id, playlist_items) {
      var selector = "#playlist_item_page[playlist_id=" + playlist_id + "]";
      var playlist_item_page = document.querySelector(selector);
      var row = null;
      for(var i=0; i < playlist_items.length; i++) {
        if(i % 4 == 0) {
          var row = document.createElement("div");
          row.className = "row limit-4";
          playlist_item_page.appendChild(row);
        }

        var playlist_item = playlist_items[i];
        $.ajax({
          async: false,
          url: "{% static 'html/index/playlist_item.html' %}",
          dataType: 'html',
          success: function(data){ append_playlist_item_template(playlist_item, row, data); }
        });
      }
    };

    function append_playlist_item_template(playlist_item, row, html) {
      // Complete the template with appropriate value
      html = html.replace("TEMPLATE_URL", playlist_item["snippet"]["thumbnails"]["high"]["url"]);
      html = html.replace("TEMPLATE_PARAGRAPH", playlist_item["snippet"]["title"]);
      $(row).append(html);
    };
  </script>

</body>
</html>
