<!DOCTYPE html>
<html lang="en" dir="ltr">
<head>
  <meta charset="utf-8">
  <title>Playlist Downloader</title>
  {% load static %}

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="{% static 'css/stylesheet.css' %}"/>

  <script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
</head>

<body>
  <div id="title">
    <h1>Download your own YouTube playlists !</h1>
  </div>

  {% if is_authenticated %}
  <div id="playlist_page" class="container-fluid page">
    <div class="row limit-6">
      {% for playlist in playlists %}

      <div class="col-md-2 d-flex align-items-stretch">
        <div class="card border border-dark playlist">
          <img class="card-img-top rounded" src="{{ playlist.snippet.thumbnails.high.url }}">
          <div class="card-body">
            <p class="card-text">{{ playlist.snippet.title }}</p>
          </div>
          <div class="card-img-overlay d-flex justify-content-center align-items-center">
            <div id="downloadable_playlist">
              <a href="#" class="a-fa" playlist_id="{{ playlist.id }}" playlist_title="{{ playlist.snippet.title }}">
                <i class="fa fa-download fa-3x"></i>
              </a>
            </div>
            <div id="downloading_playlist">
              <a href="#" class="a-fa" playlist_id="{{ playlist.id }}" playlist_title="{{ playlist.snippet.title }}">
                <i class="fa fa-eye fa-5x"></i>
              </a>
            </div>
            <div id="downloaded_playlist" playlist_id="{{ playlist.id}}" style="display: none;">
              <i class="fa fa-check-circle-o fa-5x"></i>
            </div>
          </div>
        </div>
      </div>

      {% if forloop.counter|divisibleby:"6" and not forloop.last %}
    </div><div class="row limit-6">
      {% endif %}

      {% endfor %}
    </div>
  </div>
    {% for playlist in playlists %}
  <div id="playlist_item_page" class="container-fluid page" playlist_id="{{ playlist.id }}"  playlist_title="{{ playlist.snippet.title }}">
    <div class="row col-12">
      <a href="#" id="main_page" class="a-fa"><i class="fa fa-arrow-circle-left fa-3x"></i></a>
    </div>
  </div>
    {% endfor %}
  {% else %}
  <div id="instruction">
    <h2>First off, connect to your YouTube account !</h2>
    <a href="{% url 'google_api:index' %}">
      <img src="{% static 'img/youtube_logo.png' %}" class="img-fluid" width="400" height="400"></img>
    </a>
  </div>
  {% endif %}



  <script src="{% static 'js/slide_playlist_page.js' %}"></script>
  <script src="{% static 'js/slide_playlist_item_page.js' %}"></script>
  <script>
    $(document).ready(function() {
      $.ajax({
        url: "{% static 'html/index/handle_download.html' %}",
        cache: true,
        dataType: "html",
        success: function(html) {
          html = html.replace("URL_CLIENT_PLAYLIST_ZIP", "{% url 'youtube_dl_api:client_playlist_zip' %}");
          html = html.replace("URL_SERVER_DOWNLOAD_VIDEO", "{% url 'youtube_dl_api:server_download_video' %}");
          html = html.replace("URL_TAG_PLAYLIST_URL", "{% url 'mp3_tagger:tag_playlist' %}");

          html = html.replace("URL_MY_PLAYLIST_ITEMS", "{% url 'index:my_playlist_items' %}")
          html = html.replace("HTML_PLAYLIST_ITEM_PAGE", "{% static 'html/index/playlist_item.html' %}")
          $(document.body).append(html);
        }
      });
    });
  </script>

</body>
</html>
